body{
    background-color: rgba(212, 225, 240, 0.274);
}

.divContenedor{
    background-color: rgb(169, 237, 241);
    border-radius: 5px;
    margin: 2px;
}

.tituloFormulario{
    text-align: center;
    font-size: xx-large;
    font-style: oblique;
    text-shadow: -1px 0 rgb(24, 27, 172), 0 1px rgb(34, 24, 172), 1px 0 rgb(24, 51, 172), 0 -1px rgb(24, 27, 172);
    color:rgba(0, 0, 0, 0.884);
}

h2{
    margin: 5px;
    padding-top: 15px;
}

#tablaVehiculos{
    width: 100%;
    margin-top: 0px;
    vertical-align: center;
    border-radius: 5px;
    font: center; 
    padding:10px;
    position: relative;  
    text-align: center;  
    border:0.5;
}

thead{
    height: 50px;
    font-size: 18px;
    background-color: rgba(76, 211, 105, 0.411);
}

tbody{
    background-color: rgb(169, 237, 241);
    
}

h2{
    padding-top: 10px;
    text-align: center;
}

label{
    margin-left:20px;
}

.carga input,input[type="text"]{
    width: 30%;
    margin: 5px 20px;
    background-color: rgb(212, 225, 240);
}

.select{ 
    width: 32%;
    margin: 5px 20px;
    background-color: rgb(212, 225, 240);
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-top-color: black;  
    border-left-color: black;
}

#btnGuardar, #btnNuevoVehiculo, #btnPromediar{
    margin: 15px;
    background-color: rgba(74, 236, 101, 0.411);
    color: black;
    border-radius: 10px;
    height: 25px;
}

#btnCancelar{
    margin: 15px;
    background-color: rgba(230, 76, 76, 0.932);
    color: black;
    border-radius: 10px;
    height: 25px;
}

#divPopUp{
    position: absolute;
    width: 30%;
    height: 45%;
    top: 25%;
    left: 35%;
    background-color: rgb(152, 224, 230);
    border-radius: 10px;
    border:solid,rgb(4, 58, 121) ,5px;    
    min-height: 300px;
}

#btnEliminar{
    margin: 15px;
    background-color: rgba(230, 76, 76, 0.932);
    color: black;
    border-radius: 10px;
    height: 25px;
}

#btnPopUp{
    margin: 15px;
    background-color: rgb(22, 199, 22);
    color: black;
    border-radius: 10px;
    height: 25px;
}

#linea{
    size: 1px;
    color: grey;
}